<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7th SEM - SGP</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/evil-icons@1.9.0/assets/evil-icons.min.css'>
    <link rel="stylesheet" href="static/CSS/style.css">


    <!-- UPLOAD -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <!-- <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300'> -->
    <link rel="stylesheet" href="static/CSS/style1.css">

    <!-- BACK LINKS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
    <link rel="stylesheet" href="static/CSS/style2.css">




</head>

<body>

    <input class="flip" id="checkbox" type="checkbox" />
    <div class="checkbox">
        <label for="checkbox"></label>
    </div>
    <div class="wrapper">
        <div class="card1">
            <div class="side front">
                <h1>DIAGNOSTICC </h1>
                <img src="static/IMAGES/SGP-7th-Sem-Logo.png" alt="logo">
                <h3>Covid-19, Normal and Pneumonia Cheast X-ray Detection</h3>
            </div>
            <div class="side back JUGAAD">
                <div class="blog-slider">
                    <div class="blog-slider__wrp swiper-wrapper">
                        
                        <div class="blog-slider__item swiper-slide">
                            <div class="blog-slider__img">
                                <img src="static/IMAGES/Juhie.jpg" alt="">
                            </div>
                            <div class="blog-slider__content">
                                <span class="blog-slider__code">18DCS051</span>
                                <div class="blog-slider__title">Juhie Motiani</div>
                                <div class="blog-slider__text">CNN Model Training and Flask Integration. </div>
                                <a href="https://github.com/JuhieMotiani" target="_blank" class="blog-slider__button">GITHUB LINK</a>
                            </div>
                        </div>

                        <div class="blog-slider__item swiper-slide">
                            <div class="blog-slider__img">
                                <img src="static/IMAGES/Anjali.jpeg" alt="">
                            </div>
                            <div class="blog-slider__content">
                                <span class="blog-slider__code">18DCS064</span>
                                <div class="blog-slider__title">Anjali Patel</div>
                                <div class="blog-slider__text">Dataset research, preprocessing and VGG16 Model Training.</div>
                                <a href="https://github.com/anjali-patel21" target="_blank" class="blog-slider__button">GITHUB LINK</a>
                            </div>
                        </div>

                        <div class="blog-slider__item swiper-slide">
                            <div class="blog-slider__img">
                                <img src="static/IMAGES/Dhruti.jpeg" alt="dhruti">
                            </div>
                            <div class="blog-slider__content">
                                <span class="blog-slider__code">18DCS066</span>
                                <div class="blog-slider__title">Dhruti Patel</div>
                                <div class="blog-slider__text">VGG16 Model Training, UI Design and Web Pages.</div>
                                <a href="https://github.com/iamdhrutipatel" target="_blank" class="blog-slider__button">GITHUB LINK</a>
                            </div>
                        </div>

                    </div>
                    <div class="blog-slider__pagination"></div>
                </div>
            </div>
        </div>
        <!-- <p>Write your stuff here!</p> -->
        <div class="card">

            <div class="side front">
                <div class="upload">
                    <div class="upload-files">
                        <header>
                            <p>
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                <span class="up">up</span>
                                <span class="load">load</span>
                            </p>
                        </header>
                        <div class="body" id="drop">
                            <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
                            <p class="pointer-none"><b>Drag and drop</b> files here <br /> or
                                <a href="" id="triggerFile">browse</a> to begin the upload</p>
                            <input type="file" id="myimage" />
                        </div>
                        <footer>
                            <div class="divider">
                                <span><AR>UPLOADED FILE IS:</AR></span>
                            </div>
                            <div class="list-files">
                                <!--   template   -->
                            </div>
                            <div class="op"><span class="output1"></span><h4 class="output"></h4></div>
                            <a href="#"><button class="importar">START DETECTION</button></a>
                            <a href="#"><button class="clear">CLEAR SELECTION</button></a>
                        </footer>
                    </div>
                </div>
            </div>
            <!-- <div class="side back1"> -->
                <!-- <div class="dot active"></div>
                <p>Go make some stuff.</p> -->


            <!-- </div> -->
        </div>
    </div>

    <div class="shameless-plug">
        <p>&#169; All rights reserved | Diagnosticc - 2021</p>
        <a href="#" target="_blank">
            <div class="icon" data-icon="ei-sc-github" data-size="s"></div>
        </a>
        <!-- <a href="#" target="_blank">
            <div class="icon" data-icon="ei-link" data-size="s"></div>
        </a> -->
    </div>

    <!-- partial -->
    <script src='https://cdn.jsdelivr.net/npm/evil-icons@1.9.0/assets/evil-icons.min.js'></script>
    <script src="static/JS/script.js"></script>

    <!-- UPLOAD -->
    <script src="static/JS/script1.js"></script>


    <!-- BACK LINKS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
    <script src="static/JS/script2.js"></script>




</body>

</html>